@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;
  width: 402px;
  overflow: auto;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: black;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #dcdcdc;
  height: 100vh;
  color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* 다크모드 설정 */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/** Ultra Light */
@font-face {
  font-family: 'San Francisco';
  font-weight: 100;
  src: url('/src/assets/fonts/sanfranciscodisplay-ultralight-webfont.woff')
    format('woff');
}

/** Thin */
@font-face {
  font-family: 'San Francisco';
  font-weight: 200;
  src: url('/src/assets/fonts/sanfranciscodisplay-thin-webfont.woff')
    format('woff');
}

/** Regular */
@font-face {
  font-family: 'San Francisco';
  font-weight: 400;
  src: url('/src/assets/fonts/sanfranciscodisplay-regular-webfont.woff')
    format('woff');
}

/** Medium */
@font-face {
  font-family: 'San Francisco';
  font-weight: 500;
  src: url('/src/assets/fonts/sanfranciscodisplay-medium-webfont.woff')
    format('woff');
}

/** Semi Bold */
@font-face {
  font-family: 'San Francisco';
  font-weight: 600;
  src: url('/src/assets/fonts/sanfranciscodisplay-semibold-webfont.woff')
    format('woff');
}

/** Bold */
@font-face {
  font-family: 'San Francisco';
  font-weight: 700;
  src: url('/src/assets/fonts/sanfranciscodisplay-bold-webfont.woff')
    format('woff');
}

body {
  font-family:
    'San Francisco',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
}
